@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #e5c641;
    --text-dark:#000000;
    --text-light:#737373;
    --etra-light:#f4f6f6;
    --white:#ffffff;
    --max-width:120px

}

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    position: relative;
    isolation: isolate;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text-dark);
}

.section__header::before{
    position: absolute;
    bottom: -10px;
    right: -20px;
    height: 60px;
    background-image: url("Assets/apple.png.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    white-space: nowrap;
    background-color: var(--text-dark);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary-color);
}

img{
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: o.3s;
}

ul{
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body{
    font-family: "poppins", sans-serif;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo a {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--white);
}

.nav__menu__btn{
   font-size: 1.5rem;
   color: var(--white);
   cursor: pointer; 
}

.nav_links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav_links.open {
    transform: translateY(100%);
}

.nav_links a{
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}

.nav_links a:hover {
    color: var(--text-dark);
}

header{
    padding-top: 5rem;
    padding-inline: 1rem;
    margin-bottom: 5rem;
    overflow: hidden;
}

.header__container {
    padding: 0;
    max-width: calc(var(--max-width) - 2rem);
    display: grid;
    background-color: var(--extra-light);
    border-radius: 2rem;
}

.header__content {
    padding: 5rem 2rem;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem;
    color: var(--text-dark);
    text-align: center;
}

.header__content h1 span {
    position: relative;
    isolation: isolate;
}

.header__content h1 span::before{
    position: absolute;
    content: "";
    top: 0%;
    left: -1rem;
    height: 100%;
    width: calc(100% + 4rem);
    transform: rotate(-2deg);
    z-index: -1;
}

.header__content h1 span:nth-child(1)::before {
    background-color: var(--white);
}

.header__content h1 span:nth-child(4)::before {
    background-color: var(--primary-color);
}

.header__content p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500px;
    color: var(--text-dark);
    text-align: center;
}

.header__btns {
    text-align: center;
}

.header__image img {
    max-width: 500px;
    margin-inline: auto;
}

@media (width > 540px) {
    .header__content h1 {
        font-size: 5rem;
        line-height: 6.5rem;
    }
}

@media (width > 768px) {
    nav {
        position: static;
        max-width: var(--max-width);
        margin-inline: auto;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header{
        padding: 0;
        background-color: transparent;
    }

    .nav__logo a {
        font-size: 1.75rem;
        color: var(--text-dark);
    }

    .nav__menu__btn{
        display: none;
    }

    .nav_links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        transform: none;
    }

    .nav_links a {
        color: var(--text-dark);
    }

    .nav_links a:hover {
        color: var(--primary-color);
    }

    header {
        padding: 0;
    }

    .header__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        isolation: isolate;
    }

    .header__content :is(h1, p, .header__btns) {
        text-align: left;
    }

    .header__image{
        position: absolute;
        width: unset;
        max-width: unset;
        height: 100%;
        right: 1rem;
        top: 2rem;
        z-index: -1;
    }
}
